* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .home1-img {
    background-image: url("https://picsum.photos/id/684/1920/1080");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    position: relative;
  }
  
  .home1-header {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
  }
  
  .home1-header h1 {
    border: 1px solid chartreuse;
    box-shadow: 1px 1px 5px 3px chartreuse;
    color: chartreuse;
    outline: 5px solid;
    outline-offset: 10px;
    border-radius: 10px 0 10px 0;
  }
  /* !------- */
  
  .home2-img {
    background-image: url("https://picsum.photos/id/64/1920/1080");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  
  .home2-text {
    text-align: center;
    background-color: gray;
    padding: 40px;
  }
  .home2-text h1{
      color: white;
  }
  
  .home2-header {
    display: inline-block;
    background-image: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid chartreuse;
    box-shadow: 1px 1px 5px 3px chartreuse;
    color: chartreuse;
    outline: 5px solid;
    outline-offset: 10px;
    border-radius: 10px 0 10px 0;
  }
  
  /* !---- */
  .home3-img {
      background-image: url("https://picsum.photos/id/641/1920/1080");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
    }
    
    .home3-text {
      text-align: center;
      background-color: gray;
      padding: 40px;
    }
    .home3-text h1{
        color: white;
    }
    
    .home3-header {
      display: inline-block;
      background-image: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid chartreuse;
      box-shadow: 1px 1px 5px 3px chartreuse;
      color: chartreuse;
      outline: 5px solid;
      outline-offset: 10px;
      border-radius: 10px 0 10px 0;
    }
    /*!------  */
    .home4-img {
      background-image: url("https://picsum.photos/id/643/1920/1080");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
    }
    
    .home4-text {
      text-align: center;
      background-color: gray;
      padding: 40px;
    }
    .home4-text h1{
        color: white;
    }
    
    .home4-header {
      display: inline-block;
      background-image: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid chartreuse;
      box-shadow: 1px 1px 5px 3px chartreuse;
      color: chartreuse;
      outline: 5px solid;
      outline-offset: 10px;
      border-radius: 10px 0 10px 0;
    }
  
    /* !----- */
    .home5-img {
      background-image: url("https://picsum.photos/id/645/1920/1080");
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      position: relative;
    }
    
    .home5-text {
      text-align: center;
      background-color: gray;
      padding: 40px;
    }
    .home5-text h1{
        color: white;
    }
    
    .home5-header {
      display: inline-block;
      background-image: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid chartreuse;
      box-shadow: 1px 1px 5px 3px chartreuse;
      color: chartreuse;
      outline: 5px solid;
      outline-offset: 10px;
      border-radius: 10px 0 10px 0;
    }